{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}

    <dl>
        {{ with .Param "classification" }}
            <dt>Classification</dt>
            <dd>{{ . }}</dd>
        {{ end }}

        {{ with .Param "employees" }}
            {{ $employeeCount := len . }}
            <dt>Employee{{ if gt $employeeCount 1 }}s{{ end }}</dt>
            <dd>
                {{ range $index, $employee := . }}
                    {{- if gt $index 0 -}}
                        {{- if lt (add $index 1) $employeeCount -}}
                            ,
                        {{ else -}}
                            {{ if gt $employeeCount 2 }},{{ end }} and
                        {{ end -}}
                    {{- end -}}
                    {{ with $.Site.GetPage (printf "/%s/%s" "employees" $employee) -}}
                        <a href="{{ .Permalink }}">{{ $employee }}</a>
                    {{- end -}}
                {{- end -}}
            </dd>
        {{ end }}

        {{ with .Date }}
            <dt>Published</dt>
            <dd>{{ .Format "2006-01-02" }} @ {{ .Format "15:04 MST" }}</dd>
        {{ end }}
    </dl>
{{ end }}